<div class="container">
  <div class="card">
    <h1>About Magehand</h1>

    <p>Magehand is a labor of love, made by spenser.xyz. For now, report any issues you have on github at <a href="https://github.com/bananatron/mage-hand/issues" target="_blank">github.com/bananatron/mage-hand/issues</a>, and if you're a developer, feel free to <a href="https://github.com/bananatron/mage-hand/" target="_blank">contribute</a>.</p>

  </div>


  <div class="card">
    <h1>Releases and Announcements</h1>

    <table class="u-full-width">
      <tr>
        <th>Date</th>
        <th>Info</th>
        <th></th>
      </tr>

      <tr>
        <th>12/01/2016</th>
        <th>Magehand goes live!</th>
        <th><a href="http://github.com/bananatron/mage-hand" target="_blank">Details</a></th>
      </tr>

    </table>

  </div>
</div>