<div class="xs-ml2 xs-mr2 xs-mt1">

  <div id="vue-campaign">

    <!-- # # # # # # # # # # # # # # #  -->
    <!-- Character vitals and overview -->
    <!-- # # # # # # # # #  # # # # # -->
    <form class="slidable-form" id="campaign-character-vitals">

      <input type="text" class="field-large page-header" v-model="campaign.name"
             v-on:keyup="updateStore" v-on:change="updateStore">

      <div v-for="character in characters" class="xs-mb2">
        <label class="xs-mb0">{{character.name}}</label>
        <div class="u-flex">
          <div class="box-field xs-mr1">
            <label>HP</label>
            <input v-model="character.current_hp" type="text" />
          </div>
          <div class="box-field xs-mr1">
            <label>Init</label>
            <input v-model="character.initiative" type="text" />
          </div>
          <div class="box-field">
            <label>AC</label>
            <input v-model="character.armor_class" type="text" />
          </div>
        </div>

      </div>
    </form>


    <!-- # # # # # # # # # # # # # # # # # # # -->
    <!-- Campaign background/story information -->
    <!-- # # # # # # # # #  # # # # # # # # # -->
    <form class="slidable-form off-screen" id="campaign-background">
      <label class="xs-mt2">Campaign Overview <i class="icon ion-eye"></i></label>
      <textarea v-model="campaign.background" v-on:change="updateStore"
                placeholder="Public overview of campaign accessible by players in your campaign">
      </textarea>

      <label class="xs-mt2">Campaign Notes <i class="icon ion-eye-disabled"></i></label>
      <textarea v-model="campaign.notes" v-on:change="updateStore"
                placeholder="Private notes only you can see.">
      </textarea>

    </form>


    <!-- # # # # # # # # # # # # # # # # # # # -->
    <!-- Equipment + ??? -->
    <!-- # # # # # # # # #  # # # # # # # # # -->
    <form class="slidable-form off-screen" id="campaign-features">
      <h3>This is prob where equipment, NPCs, and shit like that will go?</h3>
    </form>



    <!-- Invite info -->
    <div class="invite-info">
      <div class="invite-instructions">
        <h3>Invite other to join!</h3>
        Go to <b>magehand.xyz/join</b> and use code
      </div>
      <div class="invite-code">{{ campaign.campaign_key }}</div>
      <div class="invite-hide"><i class="icon ion-minus-circled"></i></div>
      <div class="invite-show"><i class="icon ion-plus-circled"></i></div>
    </div>

  </div>



  <!-- Fixed bottom nav -->
  <div id="bottom-nav-menu">
    <div class="u-flex u-flex--fill">

      <div class="nav-button" data-show="campaign-character-vitals">
        <i class="icon ion-ios-pulse-strong"></i>
      </div>

      <div class="nav-button" data-show="campaign-background">
        <i class="icon ion-ios-book"></i>
      </div>

      <div class="nav-button" data-show="campaign-features">
        <i class="icon ion-briefcase"></i>
      </div>

    </div>
  </div>
