<div class="campaigns-page">

  <h2 class="section-header">Campaigns</h2>
  <h2 class="section-header header-sticky u-opacity0">Campaigns</h2>

  <button class="button-circle button-add" id="new-campaign"></button>

  <section id="vue-campaigns">
    <div v-for="campaign in campaigns" class="campaign u-full-width" id="{{ campaign.key }}">
      <h4 class="name">{{ campaign.name }} <span class="game-type">{{ campaign.game_type }}</span></h4>
      <label class="info" v-if:"campaign.background">
        {{ campaign.background }}
      </label>
    </div>
  </section>




  <div class="modal" id="vue-campaigns-modal">
    <h3 class="section-header">Create a campaign?</h3>
    <div class="xs-m2 u-text-small">
      This is intended for <b>DMs only</b>.
      If you are trying to join an existing campaign, head on over to your <a href="/characters">character sheet</a>.
    </div>

    <div class="xs-m2">
      <ul>
        <li v-for="game in game_types" class="button button-primary u-full-width"
            v-on:click="createCampaign" id="{{ $key }}">
          New {{ game.short_name }} Campaign
        </li>
      </ul>
    </div>
  </div>

</div>
