<div class="campaigns-page">

  <h2 class="section-header">Campaigns</h2>
  <section class="campaigns-container">

    <div class="model_campaigns u-full-width" data-model="campaigns" data-sourcekey="xxxkey">
      <h4 data-source="name">Campaign Name</h4>
      <ul data-source="owners">
        <li>DM Bob</li>
        <li>DM Fred</li>
      </ul>
      <ul data-source="characters">
        <li>Character 1</li>
        <li>Character 2</li>
        <li>Character 3</li>
        <li>Character 4</li>
      </ul>
    </div>


    <div id="xxxkey">
        Enter a greeting:
        <input type="text" v-model="greeting"> {{ greeting }} </input>
    </div>

  </section>

</div>
