<div class="campaigns-page">

  <h2 class="section-header">Campaigns</h2>
  <h2 class="section-header header-sticky u-opacity0">Campaigns</h2>

  <button class="button-circle button-add" id="new-campaign"></button>

  <section id="vue-campaigns">
    <div v-for="campaign in campaigns" class="campaign u-full-width" id="{{ campaign.key }}">
      <h4>{{ campaign.name }}</h4>
      <ul class="campaign-characters">
        <li></li>
      </ul>
    </div>
  </section>

  <div class="modal">
    <h3 class="section-header">Make a campaign?</h3>
    <div class="xs-m2 u-text-small">
      This is intended for <b>DMs only</b>.
      If you are trying to join a campaign, go to your character sheet and choose 'join campaign'. (This doens't exist yet)
    </div>
    <div class="xs-m2">
      Once created, you can invite other players to add their characters to the campaign where you
      can track campaign information and watch updates to their character sheet in real time.
    </div>

    <div class="u-flex u-flex--fill">
      <button class="button-light confirm-create" id="campaign-modal-yes">Yes</button>
      <button class="button-secondary confirm-create" id="campaign-modal-no">No</button>
    </div>
  </div>

</div>
