
<div class="container">

  <section class="xs-text-center">
    <h2 class="xs-mt2 xs-mb4">{{title}}</h2>
  </section>

  <section class="campaigns-container">
    <div class="model_campaigns js-template u-full-width">
      <h4 class="js-name">Campaign name</h4>

      <div class="campaign-characters">
        <div class="campaign-character js-template">
          <span class="character-name"></span>
        </div>
      </div>

    </div>
  </section>

</div>
