<div class="characters-page">

  <h2 class="section-header">Characters</h2>
  <h2 class="section-header header-sticky u-opacity0">Characters</h2>

  <button class="button-circle button-add" id="new-character">
    <i class="icon ion-plus-round"></i>
  </button>

  <section id="vue-characters">
    <div v-if="characters.length == 0">
      <h2 class="u-full-width u-text-center">Get started with your first character</h2>
    </div>
    <div v-else>
      <div v-for="character in characters" class="character u-full-width" id="{{ character.key }}">

        <div class="name u-flex u-flex--center">
          <span class="game-info-name u-flex--grow">{{ character.name }}</span>
          <span class="game-type">{{ character.game_type }}</span>
        </div>
        <label class="info">
          Level {{ character.level }} {{ character.class }}
        </label>
      </div>
    </div>
  </section>

  <div class="modal">
    <div id="game-selection">
      <h3 class="section-header">Create New Character</h3>
      <section class="modal-body">
        <ul>
          <li v-for="game in game_types" class="button button-primary u-full-width"
              v-on:click="createNewCharacter" id="{{ $key }}">
            <i class="icon ion-android-add-circle"></i>
            New {{ game.short_name }} Character
          </li>
        </ul>
      </section>
    </div>
  </div>

</div>
