<div class="xs-ml2 xs-mr2 xs-mt2">
  <!-- this will be the DOM element we will mount our VueJs instance to -->
  <div id="vue-character">

    <form name="character-view" id="character-form">
      <!-- Character name -->
      <div class="u-flex">
        <input type="text" class="field-large"
          v-model="character.name" v-on:keyup="updateStore"
          v-on:change="updateStore" id="character-name">
        <i class="icon ion-unlocked" id="character-lock-fields"></i>
      </div>

      <!-- HP & AC -->
      <div class="character-other-stats">
        <div class="box-field box-field--large">
          <input type="number" v-model="character.current_hp"
          v-on:keyup="updateStore" v-on:change="updateStore"
          class="field-small" id="character-current-hp">
          <label for="character-hp">Current HP</label>
        </div>

        <div class="box-field box-field--large">
          <input type="number" v-model="character.armor_class"
          v-on:keyup="updateStore" v-on:change="updateStore"
          class="field-small" id="character-armor_class">
          <label for="armor_class">AC</label>
        </div>
      </div>

      <!-- Temp/Max HP, Initiative, Speed -->
      <div class="u-flex u-flex--fill">
        <section class="character-hp-fields xs-mr2">
          <div class="box-field box-field--vertical">
            <label for="character-temp-hp">Temp HP</label>
            <input type="number" v-model="character.temp_hp"
            v-on:keyup="updateStore" v-on:change="updateStore"
            class="field-small" id="character-current-temp-hp">
          </div>

          <div class="box-field box-field--vertical">
          <label for="character-max-hp">Max HP</label>
            <input type="number" v-model="character.max_hp"
            v-on:keyup="updateStore" v-on:change="updateStore"
            class="field-small" id="character-current-max-hp">
          </div>
        </section>

        <section class="character-tertiary-stats">
          <div class="box-field box-field--vertical">
            <label for="character-iniative">Init</label>
            <input type="number" v-model="character.iniative"
            v-on:keyup="updateStore" v-on:change="updateStore"
            class="field-small" id="character-iniative">
          </div>

          <div class="box-field box-field--vertical">
          <label for="character-speed">Speed</label>
            <input type="number" v-model="character.speed"
            v-on:keyup="updateStore" v-on:change="updateStore"
            class="field-small" id="character-speed">
          </div>
        </section>
      </div>



      <!-- Primary character stats -->
      <section class="character-stats">
        <div class="character-stat">
          <label for="character-str" class="xs-mb0">Str</label>
          <input type="number" v-model="character.stats.str" v-on:keyup="updateStore" v-on:change="updateStore" id="character-str">
        </div>
        <div class="character-stat">
          <label for="character-dex" class="xs-mb0">Dex</label>
          <input type="number" v-model="character.stats.dex" v-on:keyup="updateStore" v-on:change="updateStore" id="character-dex">
        </div>
        <div class="character-stat">
          <label for="character-con" class="xs-mb0">Con</label>
          <input type="number" v-model="character.stats.con" v-on:keyup="updateStore" v-on:change="updateStore" id="character-con">
        </div>
        <div class="character-stat">
          <label for="character-int" class="xs-mb0">Int</label>
          <input type="number" v-model="character.stats.int" v-on:keyup="updateStore" v-on:change="updateStore" id="character-int">
        </div>
        <div class="character-stat">
          <label for="character-wis" class="xs-mb0">Wis</label>
          <input type="number" v-model="character.stats.wis" v-on:keyup="updateStore" v-on:change="updateStore" id="character-wis">
        </div>
        <div class="character-stat">
          <label for="character-cha" class="xs-mb0">Cha</label>
          <input type="number" v-model="character.stats.cha" v-on:keyup="updateStore" v-on:change="updateStore" id="character-cha">
        </div>
      </section>



      <label for="character-age">Age</label>
      <input type="text" v-model="character.age"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-age">

      <label for="character-height">Height</label>
      <input type="text" v-model="character.height"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-height">

      <label for="character-prof-bonus">Proficiency Bonus</label>
      <input type="text" v-model="character.proficiency_bonus"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-prof-bonus">


      <label for="character-weight">Weight</label>
      <input type="text" v-model="character.weight"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-weight">

      <label for="character-experience">Experience Points</label>
      <input type="number" v-model="character.experience"
        v-on:change="updateStore" id="character-experience" class="field-small" number>


      <div class="box-field box-field--vertical">
        <label for="character-alignment">Alignment</label>
        <input type="text" v-model="character.alignment"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-alignment">
      </div>

      <!-- Race display on page -->
      <div class="box-field box-field--vertical detail-change-click" data-field="race">
        <label for="character-race">Race/Species</label>
        <input type="text" v-model="character.race"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-race" tabindex="-1">
      </div>

      <!-- Section for selecting and viewing race details (starts off screen) -->
      <section>
        <ul class="nav-tabs character-detail-tabs off-screen" data-selector="race">
          <li class="character-detail-tab" id="{{$key}}-tab" v-for="race in gameMeta.character_structure.races" data-lookup="{{$key}}">
            {{$key}}
          </li>
          <li class="character-detail-tab" id="other-tab" data-lookup="other">Other</li>
        </ul>

        <!-- Character detail panes that show details about a race (viewable after you select a tab) -->
        <div id="{{$key}}-info" class="character-detail-panes off-screen" v-for="race in gameMeta.character_structure.races">
          <div class="race-details">
            <div class="u-flex u-flex--center">
              <h5 class="block-header u-flex--grow xs-m0">{{ $key }}</h5>
              <button class="button-small button-primary xs-m0" data-lookup="race" data-detail-select={{$key}}>Select</button>
            </div>

            <!-- Race traits -->
            <label>{{ $key }} Traits</label>
            <ul v-for="trait in race.traits">
              <li>{{ trait.label }}: {{ trait.description }}</li>
            </ul>

            <!-- Race 'facts' -->
            <label>{{ $key }} Facts</label>
            <ul v-for="trait in race.facts">
              <li>{{ trait.label }}: {{ trait.description }}</li>
            </ul>
            <button class="button-primary u-full-width xs-mb1 xs-mt2" data-lookup="race" data-detail-select={{$key}}>Select</button>
          </div>
        </div>
      </section>

      <!-- Class display on page -->
      <div class="box-field box-field--vertical detail-change-click" data-field="class">
        <label for="character-class">Class</label>
        <input type="text" v-model="character.class"
        v-on:keyup="updateStore" v-on:change="updateStore"
        class="field-small" id="character-class" tabindex="-1">
      </div>

      <!-- Character class detail tabs selectable to view more about that class (hidden on load) -->
      <section>
        <ul class="nav-tabs character-detail-tabs off-screen" data-selector="class">
          <li class="character-detail-tab" id="{{$key}}-tab" v-for="class in gameMeta.character_structure.classes" data-lookup="{{$key}}">
            {{$key}}
          </li>
          <li class="character-detail-tab" id="other-tab" data-lookup="other">Other</li>
        </ul>
        <!-- Character detail panes that show details about a class (viewable after you select a tab) -->
        <div id="{{$key}}-info" class="character-detail-panes off-screen" v-for="class in gameMeta.character_structure.classes">
          <div class="class-details">
            <div class="u-flex u-flex--center">
              <h5 class="block-header u-flex--grow xs-m0">{{ $key }}</h5>
              <button class="button-small button-primary xs-m0" data-lookup="class" data-detail-select={{$key}}>Select</button>
            </div>

            <!-- Class traits -->
            <label>{{ $key }} Details</label>
            <ul>
              <li><b>Hit Die</b>: {{ class.hit_die }} </li>
              <li><b>Starting Hit Points</b>: {{ class.hit_points_starting }} </li>
              <li><b>Hit Points</b>: {{ class.hit_points_after }} </li>
              <li><b>Hit Die</b>: {{ class.hit_die }} </li>
            </ul>

            <!-- Class proficiencies -->
            <label>{{ $key }} Proficiencies</label>
            <ul>
              <li v-for="prof in class.proficiencies"><b>{{ $key.replace("_", " ") }}</b>: {{ prof }}</li>
            </ul>

            <!-- Class skills -->
            <label>{{ $key }} Skills</label>
            <p class="u-text-small xs-mb0">As a {{ $key }}, you'll choose <b>{{ class.skill_count }}</b> skills from the list below:</p>
            <ul>
              <li v-for="skill in class.skills">{{ skill }}</li>
            </ul>

            <button class="button-primary u-full-width xs-mb1 xs-mt2" data-lookup="class" data-detail-select={{$key}}>Select</button>
          </div>
        </div>
      </section>



      <!-- TODO skills aren't saving, can't store arrays, need to store like equiptment -->
      <!-- <div class="u-flex u-flex--align-center">
        <label class="xs-mt2 u-flex--grow" for="character-skills">Skill Proficiencies</label>
        <i class="icon ion-eye" id="toggle-skills"></i>
      </div> -->
      <label class="xs-mt2 u-flex--grow" for="character-skills">Skill Proficiencies</label>

      <div class="u-flex u-flex--column">
        <div class="box-skill" v-for="skill in gameMeta.character_structure.skills">
          <input type="checkbox" value="{{ skill }}" id="skill-{{ $key }}">
          <label class="skill-name" for="skill-{{ $key }}">
            {{ skill.name }}
          </label>
          <label class="skill-stat" for="skill-{{ $key }}">{{ skill.stat }}</label>
        </div>
      </div>



      <label for="character-equipment">Equipment</label>
      <button type="button" class="button-primary xs-mt2 prevent-default" v-on:click="addEquipment">Add Equipment</button>

      <div v-for="item in character.equipment">
        <input type="text" v-model="item.name" v-on:keyup="updateStore" v-on:change="updateStore">
        <input type="text" v-model="item.price" v-on:keyup="updateStore" v-on:change="updateStore">
        <button type="button" class="button-secondary" v-on:click="deleteEquipment" data-equipment-id='{{ $key }}'>Delete</button>
      </div>


    </form>
  </div>
</div>
