<div class="xs-ml2 xs-mr2 xs-mt1">

  <!-- this will be the DOM element we will mount our VueJs instance to -->
  <div id="vue-character">


    <!-- If coming from join link, show join modal -->
    <section v-if="trigger == 'join'">
      <div class="join-overlay"></div>
      <div class="join-modal">
        <h3 class="section-header">Join a campaign</h3>
        <div class="join-modal-content">
          <input type="text" class="campaign-code-input u-full-width" placeholder="campaign-code" />
          <button class="add-character-to-campaign button-primary u-full-width">Join</button>
        </div>
      </div>
    </section>
    <section v-else>
      <div class="join-overlay" style="display: none;"></div>
      <div class="join-modal" style="display: none;">
        <h3 class="section-header">Join a campaign</h3>
        <div class="join-modal-content">
          <input type="text" class="campaign-code-input u-full-width" placeholder="campaign-code" />
          <button class="add-character-to-campaign button-primary u-full-width">Join</button>
        </div>
      </div>
    </section>



    <!--  # # # # # # # # # # # # # # # # # # # # # # #  -->
    <!-- 'Primary' character form containing core goods -->
    <!--  # # # # # # # # # # # # # # # # # # # # # #  -->
    <form class="slidable-form" id="character-form-primary">
      <!-- Character name -->
      <div class="u-flex">
        <input type="text" class="field-large page-header"
               v-model="character.name" v-on:change="updateStore">
        <i class="icon ion-unlocked character-lock-fields"></i>
      </div>

      <!-- HP & AC -->
      <div class="character-other-stats">
        <div class="box-field box-field--large">
          <input type="number" v-model="character.current_hp"
                 v-on:keyup="updateStore" v-on:change="updateStore"
                 class="field-small" id="character-current-hp">
          <label for="character-hp">Current HP</label>
        </div>

        <div class="box-field box-field--large">
          <input type="number" v-model="character.armor_class"
                 v-on:keyup="updateStore" v-on:change="updateStore"
                 class="field-small" id="character-armor_class">
          <label for="armor_class">AC</label>
        </div>

        <div class="box-field box-field--large">
          <input type="text" v-model="character.hit_die"
                 v-on:keyup="updateStore" v-on:change="updateStore"
                 class="field-small" id="character-armor_class">
          <label for="hit_die">Hit Die</label>
        </div>

      </div>

      <!-- Temp + Max HP, Initiative + Speed -->
      <div class="u-flex u-flex--fill">
        <section class="character-hp-fields">
          <!-- Temp HP -->
          <div class="box-field box-field--vertical">
            <label for="character-temp-hp">Temp HP</label>
            <input type="number" v-model="character.temp_hp"
                   v-on:keyup="updateStore" v-on:change="updateStore"
                   class="field-small" id="character-current-temp-hp">
          </div>
          <!-- Max HP -->
          <div class="box-field box-field--vertical xs-mt1">
            <label for="character-max-hp">Max HP</label>
            <input type="number" v-model="character.max_hp"
                   v-on:keyup="updateStore" v-on:change="updateStore"
                   class="field-small" id="character-current-max-hp">
          </div>
        </section>

        <section class="character-tertiary-stats">
          <!-- Initative -->
          <div class="box-field box-field--vertical">
            <label for="character-initiative">Init</label>
            <input type="number" v-model="character.initiative"
                   v-on:keyup="updateStore" v-on:change="updateStore"
                   class="field-small" id="character-initiative">
          </div>
          <!-- Speed -->
          <div class="box-field box-field--vertical xs-mt1">
            <label for="character-speed">Speed</label>
            <input type="number" v-model="character.speed"
                   v-on:keyup="updateStore" v-on:change="updateStore"
                   class="field-small" id="character-speed">
          </div>
        </section>
      </div>


      <!-- Primary character stats -->
      <section class="character-stats">
        <div class="character-stat">
          <label for="character-str" class="xs-mb0">Str</label>
          <input type="number" v-model="character.stats.str" v-on:keyup="updateStore"
                 v-on:change="updateStore" id="character-str">
        </div>
        <div class="character-stat">
          <label for="character-dex" class="xs-mb0">Dex</label>
          <input type="number" v-model="character.stats.dex" v-on:keyup="updateStore"
                 v-on:change="updateStore" id="character-dex">
        </div>
        <div class="character-stat">
          <label for="character-con" class="xs-mb0">Con</label>
          <input type="number" v-model="character.stats.con" v-on:keyup="updateStore"
                 v-on:change="updateStore" id="character-con">
        </div>
        <div class="character-stat">
          <label for="character-int" class="xs-mb0">Int</label>
          <input type="number" v-model="character.stats.int" v-on:keyup="updateStore"
                 v-on:change="updateStore" id="character-int">
        </div>
        <div class="character-stat">
          <label for="character-wis" class="xs-mb0">Wis</label>
          <input type="number" v-model="character.stats.wis" v-on:keyup="updateStore"
                 v-on:change="updateStore" id="character-wis">
        </div>
        <div class="character-stat">
          <label for="character-cha" class="xs-mb0">Cha</label>
          <input type="number" v-model="character.stats.cha" v-on:keyup="updateStore"
                 v-on:change="updateStore" id="character-cha">
        </div>
      </section>

      <!-- Experience + Level -->
      <div class="u-flex">
        <div class="box-field xs-mr1">
          <label for="character-experience">Experience Points</label>
          <input type="number" id="character-experience" class="field-small"
                 v-model="character.experience" v-on:change="updateStore"  number>
        </div>
        <div class="box-field">
          <label for="character-experience">Level</label>
          <input type="number" id="character-level" class="field-small"
                 v-model="character.level" v-on:change="updateStore"  number>
        </div>
      </div>
      <!-- Proficiency Bonus -->
      <div class="box-field box-field--vertical xs-mt2">
        <label for="character-prof-bonus">Proficiency Bonus</label>
        <input type="text"  class="field-small" id="character-prof-bonus"
               v-model="character.proficiency_bonus" v-on:keyup="updateStore" v-on:change="updateStore" >
      </div>

      <!-- Skill Proficiencies -->
      <label class="xs-mt4 u-flex--grow">Skill Proficiencies</label>
      <div class="u-flex u-flex--column">
        <div class="box-skill" v-for="skill in gameMeta.character_structure.skills">

          <input type="checkbox" id="skill-{{ $key }}" checked="checked"
                 v-if="character.skills[$key]" v-on:change="updateSkill">
          <input type="checkbox" id="skill-{{ $key }}" v-else v-on:change="updateSkill">

          <label class="skill-name" for="skill-{{ $key }}" >{{ skill.name }}</label>
          <label class="skill-stat" for="skill-{{ $key }}" >{{ skill.stat }}</label>
        </div>
      </div>

      <button class="join-campaign button-muted button-small u-full-width xs-mt2 xs-mb0">Join Campaign</button>
    </form>





    <!--  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
    <!-- 'Secondary' character form containing background and stuff not commmonly referecened -->
    <!--  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
    <form class="slidable-form off-screen" id="character-form-secondary">

      <div class="box-field box-field--vertical xs-mb1 xs-mt2">
        <label for="character-age">Age</label>
        <input type="text" v-model="character.age"
               v-on:keyup="updateStore" v-on:change="updateStore"
               class="field-small" id="character-age">
      </div>
      <div class="box-field box-field--vertical xs-mb1">
        <label for="character-height">Height</label>
        <input type="text" v-model="character.height"
               v-on:keyup="updateStore" v-on:change="updateStore"
               class="field-small" id="character-height">
      </div>
      <div class="box-field box-field--vertical xs-mb1">
        <label for="character-weight">Weight</label>
        <input type="text" v-model="character.weight"
               v-on:keyup="updateStore" v-on:change="updateStore"
               class="field-small" id="character-weight">
      </div>
      <div class="box-field box-field--vertical xs-mb1">
        <label for="character-alignment">Alignment</label>
        <input type="text" v-model="character.alignment"
               v-on:keyup="updateStore" v-on:change="updateStore"
               class="field-small" id="character-alignment">
      </div>

      <!-- Race display on page -->
      <div class="box-field box-field--vertical detail-change-click xs-mt2 xs-mb1" data-field="race">
        <label for="character-race">Race/Species</label>
        <input type="text" v-model="character.race"
               v-on:keyup="updateStore" v-on:change="updateStore"
               class="field-small" id="character-race" tabindex="-1">
      </div>

      <!-- Section for selecting and viewing race details (starts off screen) -->
      <section>
        <ul class="nav-tabs detail-tabs off-screen" data-selector="race">
          <li class="character-detail-tab" id="{{$key}}-tab" v-for="race in gameMeta.character_structure.races" data-lookup="{{$key}}">
            {{$key}}
          </li>
          <li class="character-detail-tab" id="other-tab" data-lookup="other">Other</li>
        </ul>

        <!-- Character detail panes that show details about a race (viewable after you select a tab) -->
        <div id="{{$key}}-info" class="detail-panes off-screen" v-for="race in gameMeta.character_structure.races">
          <div class="race-details">
            <div class="u-flex u-flex--center">
              <h5 class="block-header u-flex--grow xs-m0">{{ $key }}</h5>
              <button class="button-small button-primary xs-m0" data-lookup="race" data-detail-select={{$key}}>Select</button>
            </div>

            <!-- Race traits -->
            <label>{{ $key }} Traits</label>
            <ul v-for="trait in race.traits">
              <li>{{ trait.label }}: {{ trait.description }}</li>
            </ul>

            <!-- Race 'facts' -->
            <label>{{ $key }} Facts</label>
            <ul v-for="trait in race.facts">
              <li>{{ trait.label }}: {{ trait.description }}</li>
            </ul>
            <button class="button-primary u-full-width xs-mb1 xs-mt2" data-lookup="race" data-detail-select={{$key}}>Select</button>
          </div>
        </div>
      </section>

      <!-- Class display on page -->
      <div class="box-field box-field--vertical detail-change-click" data-field="class">
        <label for="character-class">Class</label>
        <input type="text" v-model="character.class"
               v-on:keyup="updateStore" v-on:change="updateStore"
               class="field-small" id="character-class" tabindex="-1">
      </div>

      <!-- Character class detail tabs selectable to view more about that class (hidden on load) -->
      <section>
        <ul class="nav-tabs detail-tabs off-screen" data-selector="class">
          <li class="character-detail-tab" id="{{$key}}-tab" v-for="class in gameMeta.character_structure.classes" data-lookup="{{$key}}">
            {{$key}}
          </li>
          <li class="character-detail-tab" id="other-tab" data-lookup="other">Other</li>
        </ul>
        <!-- Character detail panes that show details about a class (viewable after you select a tab) -->
        <div id="{{$key}}-info" class="detail-panes off-screen" v-for="class in gameMeta.character_structure.classes">
          <div class="class-details">
            <div class="u-flex u-flex--center">
              <h5 class="block-header u-flex--grow xs-m0">{{ $key }}</h5>
              <button class="button-small button-primary xs-m0" data-lookup="class" data-detail-select={{$key}}>Select</button>
            </div>

            <!-- Class traits -->
            <label>{{ $key }} Features</label>
            <ul>
              <li><b>Hit Die</b>: {{ class.hit_die }} </li>
              <li><b>Starting Hit Points</b>: {{ class.hit_points_starting }} </li>
              <li><b>Hit Points</b>: {{ class.hit_points_after }} </li>
              <li><b>Hit Die</b>: {{ class.hit_die }} </li>
            </ul>

            <!-- Class proficiencies -->
            <label>{{ $key }} Proficiencies</label>
            <ul>
              <li v-for="prof in class.proficiencies"><b>{{ $key.split('_').join(' ') }}</b>: {{ prof }}</li>
            </ul>

            <!-- Class skills -->
            <label>{{ $key }} Skills</label>
            <p class="u-text-small xs-mb0">As a {{ $key }}, you'll choose <b>{{ class.skill_count }}</b> skills from the list below:</p>
            <ul>
              <li v-for="skill in class.skills">{{ skill }}</li>
            </ul>

            <button class="button-primary u-full-width xs-mb1 xs-mt2" data-lookup="class" data-detail-select={{$key}}>Select</button>
          </div>
        </div>
      </section>


      <label for="character-languages" class="xs-mt2 u-full-width">Languages</label>
      <input type="text" v-model="character.background.languages"
             v-on:keyup="updateStore" v-on:change="updateStore"
             class="field-small u-full-width" id="character-languages">

      <label for="character-personality_traits" class="xs-mt4">Personality Traits</label>
      <textarea v-model="character.background.personality_traits"
                v-on:keyup="updateStore" v-on:change="updateStore"
                id="character-personality_traits"></textarea>

      <label for="character-ideals">Ideals</label>
      <textarea v-model="character.background.ideals"
                v-on:keyup="updateStore" v-on:change="updateStore"
                id="character-ideals"></textarea>

      <label for="character-bonds">Bonds</label>
      <textarea v-model="character.background.bonds"
                v-on:keyup="updateStore" v-on:change="updateStore"
                id="character-bonds"></textarea>

      <label for="character-flaws">Flaws</label>
      <textarea v-model="character.background.flaws"
                v-on:keyup="updateStore" v-on:change="updateStore"
                id="character-flaws"></textarea>

      <label for="character-general">Background</label>
      <textarea v-model="character.background.general"
                v-on:keyup="updateStore" v-on:change="updateStore"
                id="character-notes"></textarea>

      <label for="character-notes">Notes</label>
      <textarea v-model="character.background.notes"
                v-on:keyup="updateStore" v-on:change="updateStore"
                id="character-notes"></textarea>

    </form>



    <!--  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #  -->
    <!-- 'Inventory' character form containing inventory/equipment/spells/etc. -->
    <!--  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
    <form class="slidable-form off-screen" id="character-form-inventory">

      <!-- Spells + Abilities -->
      <div class="u-flex u-flex--center ability-form">
        <label class="u-flex--grow">Spells and Abilities</label>
        <div v-on:click="addAbilityPicker">
          <i class="icon ion-flash"></i>
        </div>
        <div v-on:click="addAbility">
          <i class="icon ion-android-add-circle"></i>
        </div>
      </div>

      <div class="u-flex u-flex--column-reverse">
        <div v-for="ability in character.abilities" class="ability-item">

          <div class="u-flex u-flex--center">
            <input type="text" class="name u-flex--grow" v-model="ability.name" v-on:keyup="updateStore" v-on:change="updateStore">
            <i class="icon ion-information-circled action-icon" v-on:click="toggleInfo" data-equipment-id='{{ $key }}'></i>
            <i class="icon ion-close action-icon" v-on:click="deleteAbility" data-ability-id='{{ $key }}'></i>
          </div>

          <input type="text" v-model="ability.description"
                 v-on:keyup="updateStore" v-on:change="updateStore"
                 class="description">
          <textarea type="text" v-model="ability.long_description"
                    v-on:keyup="updateStore" v-on:change="updateStore"
                    class="long-description"></textarea>

        </div>
      </div>


      <!-- Spellbook section (off screen by default) -->
      <section>
        <div class="detail-pane--full detail-panes off-screen" id="spell-pane">
          <div id="{{$key}}-info" v-for="spell in gameMeta.spells" class="spell-listing">
            <div class="u-flex">
              <label class="u-flex--grow">{{ $key.split('_').join(' ') }}</label>
              <label v-for="class in spell.eligible_classes" class="{{ class }} xs-mr1">{{ class }}</label>
            </div>
            <button class="button-light button-small u-full-width" data-spell="{{ $key }}" v-on:click="addSpell">Add to Spellbook</button>
            <ul>
              <li><b>Level</b>: {{spell.level}}</li>
              <li><b>School</b>: <span class="u-capitalize">{{spell.school}}</span></li>
              <li><b>Components</b>: {{spell.components}}</li>
              <li><b>Range</b>: {{spell.range}}</li>
              <li><b>Duration</b>: {{spell.duration}}</li>
              <li><b>Casting Time</b>: {{spell.casting_time}}</li>
              <li>
                <b>Description</b>: {{spell.description}}
                <div class="xs-mt1">
                  <i class="u-text-small">{{spell.subtext}}</i>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </section>


      <!-- Equipment items -->
      <div class="u-flex u-flex--center equip-form xs-mt4">
        <label class="u-flex--grow">Equipment</label>
        <div v-on:click="addEquipment">
          <i class="icon ion-android-add-circle"></i>
        </div>
      </div>

      <div class="u-flex u-flex--column-reverse">
        <div v-for="item in character.equipment" class="equip-item">

          <div class="u-flex u-flex--center">
            <input type="text" class="name u-flex--grow" v-model="item.name" v-on:keyup="updateStore" v-on:change="updateStore">
            <i class="icon ion-close action-icon" v-on:click="deleteEquipment" data-equipment-id='{{ $key }}'></i>
          </div>

          <!-- Does equipment really need descriptions? -->
          <!-- <input type="text" v-model="item.description"
v-on:keyup="updateStore" v-on:change="updateStore"
id="equip-{{ $key }}" class="equip-description"> -->
        </div>
      </div>

      <!-- Wealth -->
      <label for="character-wealth" class="xs-mt2 u-full-width">Wealth</label>
      <input type="text" v-model="character.wealth"
             v-on:keyup="updateStore" v-on:change="updateStore"
             class="field-small u-full-width" id="character-wealth">


    </form>




    <!--  # # # # # # # # # # # # # # # # # # # # # # # # # # # # #   -->
    <!-- Campaign character data - join/manage campaign information -->
    <!--  # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->

    <div class="slidable-form off-screen" id="character-campaign-info">

      <div class="u-flex u-flex--center ability-form">
        <label class="u-flex--grow">Campaigns</label>
        <div class="join-campaign">
          <i class="icon ion-android-add-circle"></i>
        </div>
      </div>

      <ul class="campaign-listing">
        <li v-for="campaign in campaigns" class="campaign-item">
          <div class="u-flex u-flex--center">
            <input type="text" v-model="campaign.name" class="name u-flex--grow" disabled>
            <i class="icon ion-close action-icon leave-campaign" data-campaign-id='{{ $key }}'></i>
          </div>
        </li>
      </ul>

      <section id="campaign-join-warning">
        <div class="button-cap xs-mt2">You haven't joined a campaign yet</div>
        <button class="join-campaign button-muted u-full-width xs-mt0 xs-mb0">Join Campaign</button>
      </section>
    </div>

  </div>
</div>


<!-- Fixed bottom nav -->
<div id="bottom-nav-menu">
  <div class="u-flex u-flex--fill">

    <div class="nav-button" data-show="character-form-primary">
      <i class="icon ion-heart"></i>
    </div>

    <div class="nav-button" data-show="character-form-secondary">
      <i class="icon ion-image"></i>
    </div>

    <div class="nav-button" data-show="character-form-inventory">
      <i class="icon ion-briefcase"></i>
    </div>

    <div class="nav-button" data-show="character-campaign-info">
      <i class="icon ion-android-compass"></i>
    </div>


  </div>
</div>


<!-- America : XYLØ -->
