<div class="xs-ml2 xs-mr2 xs-mt2">
  <div id="vue-character">
    <!-- this will be the DOM element we will mount our VueJs instance to -->

    <form name="character-view" id="character-form">

      <label for="character-name">Name</label>
      <input type="text" v-model="character.name" v-on:keyup="updateStore" v-on:change="updateStore" id="character-name">

      <label for="character-name">Age</label>
      <input type="text" v-model="character.age" v-on:keyup="updateStore" v-on:change="updateStore" id="character-age">

      <label for="character-name">Height</label>
      <input type="text" v-model="character.height" v-on:keyup="updateStore" v-on:change="updateStore" id="character-height">

      <label for="character-name">Weight</label>
      <input type="text" v-model="character.weight" v-on:keyup="updateStore" v-on:change="updateStore" id="character-weight">

      <label for="character-experience">Experience Points</label>
      <input type="number" v-model="character.experience" v-on:change="updateStore" id="character-experience" number>

      <label for="character-alignment">Alignment</label>
      <div v-for="alignment in gameMeta.character_structure.alignment.options">
        <label for="{{alignment}}">{{alignment}}</label>
        <input type="radio" value="{{alignment}}"
          v-model="character.alignment"
          v-on:keyup="updateStore"
          v-on:change="updateStore"
          id="{{alignment}}">
      </div>

      <label for="character-race">Race/Species</label>
        <!-- TODO when race selection is made, what needs to be updated? -->
      <div v-for="race in gameMeta.character_structure.races">
        <label for="race-{{$key}}"> {{ $key }} </label>
        <input type="radio" value="{{$key}}"
          v-model="character.race"
          v-on:keyup="updateStore"
          v-on:change="updateStore"
          id="race{{$key}}">

          <h4>Description: {{ race.description }}</h4>

          <label>{{ $key }} Traits</label>
          <ul class="race-traits" v-for="trait in race.traits">
            <li>{{ trait.label }}: {{ trait.description }}</li>
          </ul>

          <label>{{ $key }} Facts</label>
          <ul class="race-facts" v-for="trait in race.facts">
            <li>{{ trait.label }}: {{ trait.description }}</li>
          </ul>

      </div>

      <label for="character-class">Class</label>
        <!-- TODO when class selection is made, update starting HP + skill selection -->
      <div v-for="class in gameMeta.character_structure.classes">
        <label for="class-{{$key}}"> {{ $key }} </label>
        <input type="radio" value="{{$key}}"
          v-model="character.class"
          v-on:keyup="updateStore"
          v-on:change="updateStore"
          id="class{{$key}}">
          <ul class="class-details">
            <li>Hit Die: {{ class.hit_die }}</li>
            <li>Hit Points aftere level 1: {{ class.hit_points_after }}</li>
          </ul>
      </div>





      <!-- TODO skills aren't saving, can't store arrays, need to store like equiptment -->
      <label for="character-skills">Skill Proficiencies</label>
      <div v-for="skill in gameMeta.character_structure.skills">
        <label for="skill-{{ $key }}">{{ skill.name }}</label>
        <input type="checkbox" value="{{ skill }}" id="skill-{{ $key }}">
      </div>


      <label for="character-equipment">Equipment</label>
      <button type="button" class="button-primary xs-mt2 prevent-default" v-on:click="addEquipment">Add Equipment</button>

      <div v-for="item in character.equipment">
        <input type="text" v-model="item.name" v-on:keyup="updateStore" v-on:change="updateStore">
        <input type="text" v-model="item.price" v-on:keyup="updateStore" v-on:change="updateStore">
        <button type="button" class="button-secondary" v-on:click="deleteEquipment" data-equipment-id='{{ $key }}'>Delete</button>
      </div>


    </form>
  </div>
</div>
