<div class="landing-page">


  <div class="logged-out u-fixed-center u-full-width xs-pl2 xs-pr2 xs-text-center">
    <h2 class="xs-mt4 xs-mb4"><span class="logo">magehand</span> lets you manage your tabletop goods in style.</h2>
    <a href="/login">
      <button class="button-primary xs-mt4">Get rolling</button>
    </a>
  </div>



  <div class="logged-in u-full-width">
    <!-- <h2 class="xs-mt4 xs-mb4">Let's do it</h2> -->
    <h2 class="section-header">Campaigns</h2>
    <section class="campaigns-container">
      <div class="model_campaigns  u-full-width">
        <h4 class="js-name">The Dragon's Lair</h4>
        <h5 class="js-dm">Bob Ross</h5>
      </div>
    </section>

    <h2 class="section-header">Characters</h2>
    <section class="characters-container">
      <div class="model_characters  u-full-width">
        <h4 class="js-name">Grognak the Smelly</h4>
        <h5 class="js-experience">5000xp</h5>
      </div>
    </section>
  </div>

    <!-- <a href="/campaign/create">
      <button class="button-primary xs-mb1">Start a campaign</button>
    </a>
    <a href="/character/create">
      <button class="button-primary">Create a character</button>
    </a> -->
</div>
