<div class="landing-page">

  <div class="logged-out u-fixed-center u-full-width xs-pl2 xs-pr2 xs-text-center">
    <h2 class="xs-mt4 xs-mb4"><span class="logo">magehand</span> lets you manage your tabletop goods in style.</h2>
    <a href="/login">
      <button class="button-primary xs-mt4">Get rolling</button>
    </a>
  </div>


  <div class="logged-in u-full-width u-fixed-center xs-pr1 xs-pl1">
    <a href="/characters">
      <button class="button-primary u-full-width xs-mb2">Characters</button>
    </a>
    <a href="/campaigns">
      <button class="button-primary u-full-width ">Campaigns</button>
    </a>
  </div>
</div>
