<div class="landing-page">

  <div class="logged-out u-full-width sm-p4 xs-text-center">
    <section class="u-flex u-flex--center xs-p10">
      <img class="u-xs-hide" src="images/ill/orc_loading.gif" />
      <div>
        <h2 class="xs-mt4 xs-mb4" style="max-width: 600px;">
          <span class="logo">magehand</span> lets you manage your tabletop goods in style.
        </h2>
        <a href="/login">
          <button class="button-primary xs-mt4 get-rolling animated pulse">Get rolling</button>
        </a>
      </div>
    </section>

    <section class="xs-mt4 u-xs-hide">
      <div class="container xs-text-center">
        <div class="u-flex xs-p4" style="justify-content: space-around;">
          <img class="landing-image" src="images/landing/landing_character.png" />
          <img class="landing-image"src="images/landing/landing_campaign.png" />
          <img class="landing-image"src="images/landing/landing_spells.png" />
        </div>
      </div>
    </section>
  </div>

  <div class="logged-in u-full-width xs-pr1 xs-pl1">
    <div class="u-flex u-flex--center u-flex--wrap u-flex--column xs-mt8">
      <a href="/characters" class="sm-m4">
        <div class="u-flex u-flex--center card card--homelink">
          <div class="xs-mr6">
            <h1 style="margin-bottom: 4px;"><i class="icon ion-ios-body"></i></h2>
          </div>
          <div>
            <h3 style="margin-bottom: 4px;">Characters</h3>
            Create characters to join your friends in campaigns.
          </div>
        </div>
      </a>

      <a href="/campaigns" class="sm-m4">
        <div class="u-flex u-flex--center card card--homelink">
          <div class="xs-mr6">
            <h1 style="margin-bottom: 4px;"><i class="icon ion-map"></i></h2>
          </div>
          <div>
            <h3 style="margin-bottom: 4px;">Campaigns</h3>
            Create campaigns and invite your friends.
          </div>
        </div>
      </a>

      <a href="/profile" class="sm-m4">
        <div class="u-flex u-flex--center card card--homelink">
          <div class="xs-mr6">
            <h1 style="margin-bottom: 4px;"><i class="icon ion-ios-gear"></i></h2>
          </div>
          <div>
            <h3 style="margin-bottom: 4px;">Settings</h3>
            Update account and profile information.
          </div>
        </div>
      </a>

    </div>
  </div>

  <section class="footer">
    <a href="/about">About</a>
    <a href="https://github.com/bananatron/mage-hand/issues" target="_blank">Issues</a>
    <a href="/logout">Logout</a>
  </section>
</div>
