<div class="landing-page">

  <div class="logged-out u-full-width sm-p4 xs-text-center">
    <section class="u-flex u-flex--center xs-p10">
      <img class="u-xs-hide" src="images/ill/golem.png" />
      <div>
        <h2 class="xs-mt4 xs-mb4" style="max-width: 600px;">
          <span class="logo">magehand</span> lets you manage your tabletop goods in style.
        </h2>
        <a href="/login">
          <button class="button-primary xs-mt4">Get rolling</button>
        </a>
      </div>
    </section>

    <section class="xs-mt6 u-xs-hide">
      <div class="container xs-text-center">
        <div class="u-flex xs-p4" style="justify-content: space-around;">
          <img src="http://placehold.it/250x400" />
          <img src="http://placehold.it/250x400" />
          <img src="http://placehold.it/250x400" />
        </div>
      </div>
    </section>
  </div>


  <div class="logged-in u-full-width xs-pr1 xs-pl1">
    <div class="u-flex u-flex--center u-flex--wrap xs-mt8">
      <a href="/characters" class="xs-m4" style="display: block; text-align: center; color: white;">
        <h2 class="u-full-width xs-text-center">
          <i class="icon ion-ios-body"></i>
        </h2>
        <label>Characters</label>
      </a>
      <a href="/campaigns" class="xs-m4" style="display: block; text-align: center; color: white;">
        <h2 class="u-full-width xs-text-center">
          <i class="icon ion-map"></i>
        </h4>
        <label>Campaigns</label>
      </a>
      <a href="/campaigns" class="xs-m4" style="display: block; text-align: center; color: white;">
        <h2 class="u-full-width xs-text-center">
          <i class="icon ion-android-options"></i>
        </h4>
        <label>Settings</label>
      </a>
    </div>
  </div>


  <section class="footer u-xs-hide">
    About
    &nbsp;•&nbsp;
    <a href="https://github.com/bananatron/mage-hand/issues" target="_blank">Issues</a>
    &nbsp;•&nbsp;
    <a href="/logout">Logout</a>
  </section>
</div>
