
<!DOCTYPE html>
<html lang="en">
<link rel="manifest" href="js/manifest.json">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Manage your tabletop games in real-time.">
  <meta name="author" content="spenser.xyz">
  <meta name="theme-color" content="#83968D">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-TileColor" content="#424b47">
  <meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="js/manifest.json">




    <title>Magehand</title>
    <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Dosis:300,400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <link href='stylesheets/main.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="nav">

      <a href="/">
        <span class="magehand-logo-white" alt="Magehand logo"></span>
      </a>
<!--         <h1 class="logo logo--nav">
          <a href="/">magehand</a> <span class="u-small-text">(beta)</span>
        </h1> -->


      <a id="mobile-nav-toggle">
        <i class="icon ion-grid xs-mr2"></i>
      </a>

    </div>
    <div id="mobile-nav-icons">
      <a href="/characters"><i class="icon ion-ios-body"></i></a>
      <a href="/campaigns"><i class="icon ion-map"></i></a>
      <a href="/profile"><i class="icon ion-ios-gear"></i></a>
    </div>

    <div class="loading-image u-fixed-center u-full-width xs-pl2 xs-pr2 xs-text-center">
    </div>

    <div class="body-content">
      <%- body %>
    </div>
    <div class="overlay"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>

</html>
