<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="spenser.xyz">
    <title>Magehand ✋ </title>
    <link href='https://fonts.googleapis.com/css?family=Dosis:300,400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css'> -->
    <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <link href='stylesheets/main.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="nav">
      <h1 class="logo logo--nav">
        <a href="/">magehand</a>
      </h1>

      <a href="/login">
        <i class="icon ion-android-person xs-mr2"></i>
      </a>
    </div>

    <div class="loading-message u-fixed-center u-full-width xs-pl2 xs-pr2 xs-text-center">
      <h2 class="xs-mt4 xs-mb4" id="loading-text"></h2>
    </div>

    <div class="body-content">
      <%- body %>
    </div>
    <div class="overlay"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>

</html>
