<div class="container">

  <div class="xs-text-center xs-mt8">
    <h2 class="xs-mt4 xs-mb4">There be <b>dragons</b>.</h2>
  </div>


  <div class="social-icons">
    <!-- <i class="icon ion-android-mail"></i> -->
    <i class="icon ion-social-google icon-social"></i>
    <i class="icon ion-social-facebook icon-social"></i>
    <i class="icon ion-social-twitter icon-social"></i>
  </div>

  <div class="xs-text-center xs-mt6 xs-mr2 xs-ml2">
    <a href="javascript:void(0)" class="block-header" id="social">Social only?</a><br>
    <div id="social-explanation" style="display: none;">
      <b>Here's the deal</b>... Storing passwords is a lot of responsibility which we don't really want.<br>
      Logging in with your social account makes things safer for you and easier for us.
    </div>
  </div>

</div>
