<div class="container">

  <div class="xs-text-center xs-mt8">
    <h2 class="xs-mt4 xs-mb1 sm-mb2">There be <b>dragons</b>.</h2>
    <p class="xs-mb4"><b>Login</b> or <b>signup</b> using one of your accounts below</p>
  </div>


  <div class="social-icons">
    <button class="button button-social button-google">
      <i class="icon ion-social-google"></i> Google
    </button>

    <button class="button button-social button-facebook">
      <i class="icon ion-social-facebook"></i> Facebook
    </button>

    <button class="button button-social button-twitter">
      <i class="icon ion-social-twitter"></i> Twitter
    </button>
  </div>

</div>

<section class="footer">
  <a href="/about">About</a>
  <a href="https://github.com/bananatron/mage-hand/issues" target="_blank">Issues</a>
  <a href="/logout">Logout</a>
</section>