<div class="container">

  <div class="xs-text-center xs-mt8">
    <h2 class="xs-mt4 xs-mb0 sm-mb1">There be <b>dragons</b>.</h2>
    <p class="xs-mb4"><b>Login</b> or <b>Signup</b> using one of your accounts below</p>
  </div>


  <div class="social-icons">
  
    <button class="button button-social button-google">
      <i class="icon ion-social-google"></i> Google
    </button>

    <button class="button button-social button-facebook">
      <i class="icon ion-social-facebook"></i> Facebook
    </button>

    <button class="button button-social button-twitter">
      <i class="icon ion-social-twitter"></i> Twitter
    </button>
  </div>

  <div class="xs-text-center xs-mt6 xs-mr2 xs-ml2">
    <a href="javascript:void(0)" class="block-header" id="social">Social only?</a><br>
    <div id="social-explanation" style="display: none;">
      <b>So</b>... storing passwords is a lot of responsibility which we don't really want.<br>
      Logging in with your social account makes things safer for you and easier for us.
    </div>
  </div>

</div>
