<div class="container">
  <!-- <p>Welcome to {{title}}</p> -->
  <div class="xs-text-center">
    <h2 class="xs-mt4 xs-mb4">There be <b>dragons</b>.</h2>
  </div>

  <form action="#" class="u-full-width">
    <label for="male">Email</label>
    <input type="text" name="email" id="email" value="" placeholder="" class="u-full-width"><br>
    <label for="female" class="xs-mt2">Password</label>
    <input type="password" name="password" id="password" value="" class="u-full-width"><br>
    <input type="submit" value="Submit" class="button button-primary xs-mt4 u-full-width">
  </form>

  <h5 class="u-full-width xs-text-center">OR</h5>

  <div class="social-icons">
    <!-- <i class="icon ion-android-mail"></i> -->
    <i class="icon ion-social-google icon-disabled"></i>
    <i class="icon ion-social-facebook icon-disabled"></i>
    <i class="icon ion-social-twitter"></i>
  </div>



</div>
