<div class="container">
  <!-- <p>Welcome to {{title}}</p> -->
  <div class="xs-text-center">
    <h2 class="xs-mt4 xs-mb4">There be <b>dragons</b>.</h2>
  </div>


  <div class="social-icons">
    <!-- <i class="icon ion-android-mail"></i> -->
    <i class="icon ion-social-google icon-social"></i>
    <i class="icon ion-social-facebook icon-social"></i>
    <i class="icon ion-social-twitter icon-social"></i>
  </div>



</div>
