<div id="vue-user" class="xs-p2">
  <label>Display Name</label>
  <input type="text" class="field-large page-header" v-model="user.displayName" v-on:change="updateStore"/>

  <label>Email</label>
  <input type="email" class="field-large" v-model="user.email" v-on:change="updateStore"/>

  <!-- This button does nothing, save is on keyup -->
  <button class="button button-primary u-full-width xs-mt2 xs-mb6">Save</button>


  <!-- https://firebase.google.com/docs/auth/web/account-linking#link-auth-provider-credentials-to-a-user-account -->
  <!-- <label>Add other login methods</label>
  <p class="xs-mb2" style="font-size:12px;">
    Adding another sign-in method to your account will link the account, making it possible to sign
    through multiple providers
  </p>
  <div class="u-flex xs-mb4">
    <h2 class="icon ion-social-google xs-mr4"></h2>
    <h2 class="icon ion-social-twitter xs-mr4"></h2>
    <h2 class="icon ion-social-facebook"></h2>
  </div> -->


  <label>Delete Account</label>
  <button class="button-secondary xs-mt2 u-full-width" v-on:click="deleteUser">Delete Account</button>
  <p class="xs-mb2" style="font-size:12px;">
    Deleting your account will remove all character, campaigns, and traces of your existence.
  </p>


  <button class="button button-primary button-circle button-signout" v-on:click="signOut">
    <i class="ion-power"></i>
  </button>
</div>
