/* Variables */

$break-xs: 400px;

$base-field-spacing: 2rem;
$transition-fast: 0.1s;
$transition-normal: 0.2s;
$transition-slow: 0.3s;
$transition-debug: 2s;

$transparent: rgba(0, 0, 0, 0);
$color-yellow: #ADA267;
$color-green: #83968D;
$color-blue: #2C7FA6;
$color-red: #A77A7A;
$color-purple: #534875;
$color-pink: #AD67A1;
$color-offwhite: #F5F5F5;
$color-offblack: #3E3E3E;

$lightest: rgba(0, 0, 0, 0.1);
$light: rgba(255, 255, 255, 0.85);
$dark: rgba(0, 0, 0, 0.85);
$color-primary: $color-yellow;
$color-secondary: $color-red;
$color-tertiary: $color-blue;
$box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);

$radius: 0px;
$radius-rounded: 2px;

$color-twitter: #4099FF;
$color-facebook: #3b5998;
$color-google: #F90101;