html, body { height: 100%; width: 100%; }

* {
	box-sizing: border-box;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $color-green;
}
.body-content {
	transition: opacity 0.15s ease-in-out;
	opacity: 0;
	height: 100%;
}
.show { opacity: 100 !important; }


//Navigation
.nav {
	background-color: $color-primary;
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	a { color: white; }
	h1 { flex-grow: 1; font-weight: 100; }
	h1, .icon {
		padding: 0 1rem;
	}
	.icon { font-size: 3rem; }
	.logo {
		font-family: 'Dosis', sans-serif;
		letter-spacing: 0.5px;
		font-size: 3.5rem;
		transition: all 0.2s ease-in-out;
	}
}

.header-sticky {
	position: fixed;
	top: 0; z-index: 1;
	width: 100%;
}


.logo {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.5px;
}


.button-circle {
	padding: 0; margin: 0;
	height: 50px !important;
	width: 50px !important;
	border-radius: 50% !important;
	box-shadow: 0px 3px rgba(0, 0, 0, 0.4);
	border: 0; color: rgba(255, 255, 255, 0.8);
}
.button-circle:focus, .button-circle:active {
	background-color: $color-purple;
	color: rgba(255, 255, 255, 0.8);
}
.button-add {
	background-color: $color-primary;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
}
.button-add:before {
	content: "+";
	line-height: 4.4rem;
	font-size: 2.5rem;
}

.button-back {
	background-color: $color-secondary;
	position: fixed;
	bottom: 1.5rem;
	left: 1.5rem;
}
.button-back:before {
	content: "<";
	line-height: 4.4rem;
	font-size: 2.5rem;
}
.button-huge-middle { // Might go away if new screen gets prettier later on
	left: 50% !important;
	top: 50% !important;
	transform: translateX(-50%) translateY(-50%) scale(2);
}



//Social icons
.social-icons {
	display: flex;
	justify-content: space-around;
	font-size: 5rem;
	& > .icon { transition: all 0.2s ease-in-out; }
	& > .icon:active, .icon:focus {
		color: $color-tertiary !important;
	}
}
.ion-social-twitter { color: #4099FF; }
.ion-social-facebook { color: #3b5998; }
.ion-social-google { color: #F90101; }
.icon-disabled { color: rgba(0, 0, 0, 0.5) !important; cusror:default !important; }


// @include breakpoint(xs) {} // xs, sm, md, lg, xl (Size +)\
.character,
.campaign {
	cursor: pointer;
	border-radius: $radius;
	padding: 0.5rem 1rem;
	background-color: $light;
	color: $dark;
	margin-bottom: 0.5rem;
} .model_campaigns:last-child { margin-bottom: 0; }

.character:hover,
.character:focus,
.campaign:hover,
.campaign:focus {
	background-color: white;
}

.section-header {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0.7rem 1rem;
	background-color: #68613E;
	background-color: $color-purple;
	color: white;
	font-weight: bold;
}

// LANDING PAGE
.campaigns-page {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}





// CHARACTER PAGE

#character-lock-fields { // Lock icon that triggers disabled fields
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 2rem;
	align-self: center;
	min-width: 20px;
	text-align: center;
	cursor: pointer;
}

// Field specific styles
#character-name {
	font-weight: bold;
	color: $light;
	border: 1px solid transparent;
	&:focus {
		color: black;
	}
}
#character-race {
	text-transform: capitalize;
	pointer-events: none;
}

input[type="text"],
input[type="number"]{
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.field-large {
	font-size: 3rem;
	width: 100%;
}

.field-small { }

.field-large:focus, .field-small:focus {
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
}

.character-other-stats { // AC, HP, etc.
	display: flex;
	margin-bottom: $base-field-spacing/2;

	& > * {
		margin-right: 1rem;
	}
	& > *:last-child {
		margin-right: 0;
	}
}

.box-field {
	& > input, label { width: 100%;}
	& > input {
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
		margin: 0;
		border-radius: $radius;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		color: white;
		font-weight: bold;
		border: 1px solid transparent;
	}
	& > label {
		text-align: center;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 0 0.5rem;
	}
}
.box-field--large {
	& > input {
		height: 60px;
		font-size: 3.5rem;
	}
}

$box-field--vertical-height: 22px;

.box-field--vertical {
	display: flex;

	& > input { height: $box-field--vertical-height; }
	& > label {
		height: $box-field--vertical-height;
		//To center text \/
		display: flex; align-items: center; justify-content: center;
	}
}


.character-hp-fields {
	display: flex;
	flex-direction: column;
	margin-bottom: $base-field-spacing;

	& > label {
		margin: 0;
		& > input {
			height: 2.5rem;
			margin: 0;
			max-width: 100px;
		}
	}
}


.character-stats {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.character-stat {
	& > label { text-align: center; letter-spacing: 1px; }
	& > input {
		font-weight: 100;
		color: white;
		font-size: 3rem;
		max-width: 40px;
		padding: 0;
		text-align: center;
		border: 0;
		padding: $base-field-spacing 0;
		background-color: rgba(255, 255, 255, 0.2);
		border: 1px solid transparent; // No jolt on focus
	}
	& > input:focus {
		color: black;
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.character-race-details {
	// display: none;
	position: absolute;
	top: 0; left: 0;
	background-color: $color-offwhite;
	color: $color-offblack;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 3px;

	ul {
		margin-bottom: 0;
		font-size: 1.4rem;
		list-style: square;
	}
	li {
		border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
		padding: 0.5rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin: 0;
	}
	label {
		margin-top: 2rem;
	}
}




// Race will only change once - need to rethink display here
// .character-race {
// 	display: flex;
// }
// .character-race-item {
// 	flex-grow: 1;
//
// 	& > input {
// 		display: none !important;
// 		&:checked + label {
// 			background-color: green;
// 		}
// 	}
//
//
// }
//
// .race-details {
// 	display: none;
// }

// Alignment slider styles
// This works by only showing the label AFTER the selected aligntment option
// The labels are then being floated above to only show the selected item
// as displaying all text even in a flex element wouldn't fit on mobile
.alignment-slider {
	position: relative;
	display: flex;
	margin-bottom: $base-field-spacing;
	justify-content: space-between;
}
.alignment-slider-item {
	flex-grow: 1;
	text-align: center;

	& > label {
	 display: none;
	 position: absolute;
	 top: 0;
	 left: 50%;
	 transform: translateX(-50%);
	}
	& > input {
		position: relative;
		top: 3rem; // Match font size of label
	}
	& > input[type="radio"]:checked + label {
		display: block !important;
	}
}


// UTILITY

.block-header {
	font-weight: 600;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.5rem;
	letter-spacing: 0.5px;
}
.u-flex {
	display: flex;
}
.u-flex--center {
	justify-content: center;
	align-items: center;
}
.opacity0 { opacity: 0; }
.u-fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.overlay {
	display: none;
	top: 0; left: 0;
	position: fixed; z-index: 1;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.modal {
	display: none;
	z-index: 10;
	color: black;
	position: fixed;
	top: 50%; left: 50%;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	width: 90%; max-width: 600px;
	height: 50%; max-height: 600px;
	transform: translateX(-50%) translateY(-50%);
	padding-top: 0.5rem;
	overflow: scroll;
}
.modal-body {
	padding: 1rem;
}
