html, body { height: 100%; width: 100%; }

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $color-green;
}
.body-content {
	transition: opacity 0.15s ease-in-out;
	opacity: 0;
	height: 100%;
}
.show { opacity: 100 !important; }


//Navigation
.nav {
	background-color: $color-primary;
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	a { color: white; }
	h1 { flex-grow: 1; font-weight: 100; }
	h1, .icon {
		padding: 0 1rem;
	}
	.icon { font-size: 3rem; }
	.logo {
		font-family: 'Dosis', sans-serif;
		letter-spacing: 0.5px;
		font-size: 3.5rem;
		transition: all 0.2s ease-in-out;
	}
}

.header-sticky {
	position: fixed;
	top: 0; z-index: 1;
	width: 100%;
}


.logo {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.5px;
}


.button-circle {
	padding: 0; margin: 0;
	height: 50px !important;
	width: 50px !important;
	border-radius: 50% !important;
	box-shadow: 0px 3px rgba(0, 0, 0, 0.4);
	border: 0; color: rgba(255, 255, 255, 0.8);
}
.button-circle:focus, .button-circle:active {
	background-color: $color-purple;
	color: rgba(255, 255, 255, 0.8);
}
.button-add {
	background-color: $color-primary;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
}
.button-add:before {
	content: "+";
	line-height: 4.4rem;
	font-size: 2.5rem;
}

.button-back {
	background-color: $color-secondary;
	position: fixed;
	bottom: 1.5rem;
	left: 1.5rem;
}
.button-back:before {
	content: "<";
	line-height: 4.4rem;
	font-size: 2.5rem;
}
.button-huge-middle { // Might go away if new screen gets prettier later on
	left: 50% !important;
	top: 50% !important;
	transform: translateX(-50%) translateY(-50%) scale(2);
}



//Social icons
.social-icons {
	display: flex;
	justify-content: space-around;
	font-size: 5rem;
	& > .icon { transition: all 0.2s ease-in-out; }
	& > .icon:active, .icon:focus {
		color: $color-tertiary !important;
	}
}
.ion-social-twitter { color: #4099FF; }
.ion-social-facebook { color: #3b5998; }
.ion-social-google { color: #F90101; }
.icon-disabled { color: rgba(0, 0, 0, 0.5) !important; cusror:default !important; }


// @include breakpoint(xs) {} // xs, sm, md, lg, xl (Size +)\
.character,
.campaign {
	cursor: pointer;
	border-radius: $radius;
	padding: 0.5rem 1rem;
	background-color: $light;
	color: $dark;
	margin-bottom: 0.5rem;
} .model_campaigns:last-child { margin-bottom: 0; }

.character:hover,
.character:focus,
.campaign:hover,
.campaign:focus {
	background-color: white;
}

.section-header {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0.7rem 1rem;
	background-color: #68613E;
	background-color: $color-purple;
	color: white;
	font-weight: bold;
}

// LANDING PAGE
.campaigns-page {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}


// UTILITY

.opacity0 { opacity: 0; }
.u-fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.overlay {
	display: none;
	top: 0; left: 0;
	position: fixed; z-index: 1;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.modal {
	display: none;
	z-index: 10;
	color: black;
	position: fixed;
	top: 50%; left: 50%;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	width: 90%; max-width: 600px;
	height: 50%; max-height: 600px;
	transform: translateX(-50%) translateY(-50%);
	padding-top: 0.5rem;
	overflow: scroll;
}
.modal-body {
	padding: 1rem;
}
