// UTILITY

.block-header {
	font-weight: 600;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.5rem;
	letter-spacing: 0.5px;
}

.modal {
	display: none;
	z-index: 10;
	color: black;
	position: fixed;
	top: 50%; left: 50%;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	width: 90%; max-width: 600px;
	min-height: 50%; max-height: 600px;
	transform: translateX(-50%) translateY(-50%);
	padding-top: 0.5rem;
	overflow: scroll;
}

.modal-body {
	padding: 1rem;
}

.u-flex { display: flex; }
.u-flex--fill {
	& > * { flex-grow: 1; }
}

.u-flex--center {
	justify-content: center;
	align-items: center;
}

.u-flex--align-center {
	align-items: center;
}

.u-flex--column { flex-direction: column; }
.u-flex--column-reverse { flex-direction: column-reverse; }

.u-flex--wrap { flex-wrap: wrap; }
.u-flex--grow { flex-grow: 1; }

.u-opacity0 {
	opacity: 0 !important;
	pointer-events: none !important;
}
.u-opacity1 {
 opacity: 1 !important;
 pointer-events: auto !important;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin block-text {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.u-hide { display: none; }

.u-noscroll { overflow: hidden !important; }

.u-fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.u-text-small { font-size: 1.2rem; }
.u-capitalize { text-transform: capitalize; }
.u-uppercase { text-transform: uppercase; }
