/* Variables */

$color-yellow: #ADA267;
$color-green: #83968D;
$color-blue: #2C7FA6;
$color-red: #A77A7A;
$color-purple: #534875;
$color-pink: #AD67A1;

$light: rgba(255, 255, 255, 0.85);
$dark: rgba(0, 0, 0, 0.85);
$color-primary: $color-yellow;
$color-secondary: $color-red;
$color-tertiary: $color-blue;

$radius: 0px;
